---
layout: default
---
<div class="tags-content">
    <h3 class="tags-title">TAGS</h3>
    <p class="tags-description">点击查看对应标签的文章列表</p>

    <div class="tag-items">
        {% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <a class="tag-item grey lighten-3" href="/tags#{{t}}">#{{t | replace:" ","-" }}</a>
        {% endfor %}
    </div>

    {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <div class="tag-title" id="{{t | replace:' ','-' }}">#{{ t | replace:" ","-" }}</div>
    {%- for post in site.posts -%}
    {% if post.tags contains t %}
    <div class="tag-post">
        <a href="{{post.url | relative_url}}" class="">{{ post.title | escape
            }}</a>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta grey-text" style="margin-left: 10px;">{{post.date | date: date_format}}</span>
    </div>
    {% endif %}
    {%- endfor -%}
    <hr class="grey">
    {% endfor %}
</div>