---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "materialize";

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #01579b;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

// HEADER
.site-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .site-title {
    color: #FFFFFF;
    margin-left: 15px;
    font-size: 30px;
  }

  .site-nav {
    box-shadow: none;
    height: 100%;
    width: 60%;
    line-height: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
  }
}

// Page-Content

.page-content {
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 180px;
  min-height: 700px;

  .wrapper {
    background-color: #FFFFFF;
    width: 60%;
    margin-left: 20%;
    padding-top: 20px;

    .home {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .feed-subscribe {
    margin-bottom: 0;
  }
}

.post-list-heading {
  margin-top: 0;
}

.post-title {
  color: #283593;
  font-weight: 400 !important;
  margin-bottom: 10px;
}

.card-bottom {
  display: flex;
  align-items: center;
  padding: 0 24px 10px 24px;
}

span.badge {
  color: #ffffff;
}

.post-tags {
  display: flex;
}

.post-tag {
  border-radius: 10px;
}

.post-tags .post-tag:nth-child(n+1) {
  background-color: #5e35b1;
}

.post-tags .post-tag:nth-child(n+2) {
  background-color: #03a9f4;
}

.post-tags .post-tag:nth-child(n+3) {
  background-color: #0D47A1;
}

.post-tags .post-tag:nth-child(n+4) {
  background-color: #F44336;
}

.post-tags .post-tag:nth-child(n+5) {
  background-color: #ea80fc;
}

// FOOTER
.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.footer-container {
  max-height: 200px;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  :not(:first-child) {
    margin-left: 10px;
  }

  li {
    display: list-item;
    height: 41px;
    width: 41px;
    background-color: #FFFFFF;

    a {
      display: block;
      padding: 7.5px;
      //border: 1px solid #e8e8e8;
    }
  }
}

.svg-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

.footer-copyright > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#busuanzi_container_site_uv {
  margin-left: auto;
}

#busuanzi_container_site_pv {
  margin-left: 10px;
}

#busuanzi_value_site_pv {
  margin-left: 5px;
}

#busuanzi_value_site_uv {
  margin-left: 5px;
}

// POST
.toc {
  position: fixed;
  top: 90px;
  right: 15%;

  .is-active-link {
    color: #424242;
  }
}

.h-entry {
  padding: 0 24px 24px 24px;
}

.section-nav {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .post-title {
    margin: 0;
  }

  .author-and-time {
    margin-top: 1rem;
    display: flex;
  }
}