---
layout: default
---
<div class="post-page">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
            <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
            <div class="author-and-time">
                <time class="dt-published grey-text" datetime="{{ page.date | date_to_xmlschema }}"
                      itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {{ page.date | date: date_format }}
                </time>
                {%- if page.tags.size > 0 -%}
                <div class="post-tags">
                    {%- for tag in page.tags -%}
                    <span class="badge post-tag">{{tag}}</span>
                    {%- endfor -%}
                </div>
                {%- endif -%}
            </div>
        </header>
        <div class="post-content e-content" itemprop="articleBody">
            {{ content }}
        </div>
        {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
        {%- endif -%}

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
    <div class="toc"></div>
</div>
<script src="https://cdn.bootcss.com/tocbot/4.5.1/tocbot.min.js"></script>
<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.e-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });
</script>